<!Doctype html>
<html>

<head>
    <title>Agar</title>
    <link rel="shortcut icon" type="image/png" href="http://www.favicon.cc/logo3d/631764.png" />
    <!-- bower:css -->
    <!-- endbower -->
    <link rel="stylesheet" href="/stylesheets/styles.css" />
</head>

<body>
    <!-- <div class="red">Red</div> -->
    <div id="root"></div>
    <!-- bower:js -->
    <!-- endbower -->
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
</body>

</html>
